nav{
  background-color: #0009;
  height: 100px;
  width: 100%;
}
.img-size{
  height: 60px;
  margin-top: 0%;
  margin-left: 3%;
}
nav ul{
  float: right;
  margin-right: 2px;
}
nav ul li{
  display: inline-block;
  line-height: 0px;
  margin: 0px;
}
.navbtn{
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border-style:hidden;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 35px;
 padding-bottom: 43px;
 font-weight: bold;
 margin-left: 50px;
}
.navbtn:hover{
background-color: black;
color: white;
}
.btn-nav{
  margin-top: 0%;
  margin-right: 2%;
}
#main-Home{
  width: 100%;
  height:53vh;
  background-image: url(../public/images/homepic.png);
  background-size: 100% 100%;

}
.logohome{
  margin-top: 0%;
  height: 60%;
  width: 25%;
  margin-left: 4%;
  
}
.anim{
  position: relative;
  animation: mymove 2s;
}
@keyframes mymove {
  from {left: -50%;}
  to {left: 0%;}
}
.heading1{
  margin-top: 13%;
  font-size: 230%;
 text-align: center;
 font-style: oblique;
 color: rgb(61, 58, 58);
}
.line1{
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: -4%;
  color: rgb(214, 61, 82);
}
.homepic2-3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 35%;
}
.homepic2{
  width: 62%;
}
.homepic3{
  margin-left: 3%;
  width: 30%;
}
.read-onlytext{
  margin-top: 7%;
}
.homepic4{
  width: 86%;
  margin-left: 83px;
  margin-top: 1%;
}
.homepic-mini{
  width: 60%;
  display: flex;
  flex-direction: column;
   margin-left:2%;
}
.homepic-m{
margin-top: 3%;
}
.line2{
  margin-left:12.5%;
}
.learn-btn{
  background-color: rgb(215, 53, 53);
  color: white;
  height: 38px;
  width: 150px;
  margin-left:12.5%;
border-color: transparent;
transition: width 0.2s;
padding: 10px;
}
.learn-btn:hover{
  cursor: pointer;
  width: 180px;
}
.mini-line1{
  font-size: 15px;
  color: blue;
  margin-top: 60px;
}
.mini-line2{
  margin-top: -5%;
  font-style: oblique;
}
.mini-lines{
  margin-left: -23%;
  margin-top: -10%;
  padding-top: 5%;
}
a,u{
  text-decoration: none;
}
.news-btn{
  background-color: rgb(215, 53, 53);
  color: white;
  height: 40px;
  width: 130px;
  margin-top: 5%;
  margin-left: 2%;
border-color: transparent;
transition: width 0.2s;
padding: 10px;
}
.news-btn:hover{
  cursor: pointer;
  width: 150px;
}
.endhome-page{
  background-color: rgb(39, 39, 39);
 margin-top: 15.1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 800%;
}
.end-head1{
  color: white;
  font-size: 130%;
  margin-top: -23%;
}
.end-head1>div{
  color: white
}
.col1{
  margin-top: 9%;
}
.col1{
  color: white;
  margin-top: 1%;
}
.col2{
  color: white;
  margin-top: 3%;
}
.col3{
  color: white;
  margin-top: 6%;
}
.col1-line:hover{
cursor: pointer;
color: rgb(215, 53, 53);
}
.col2-line:hover{
  cursor: pointer;
  color: rgb(215, 53, 53);
  }
  .col3-line:hover{
    cursor: pointer;
    color: rgb(215, 53, 53);
    }
.disclaimer{
  font-size: 70%;
  font-weight: bolder;
  color: white;
}
.col1-lastLine{
  color: white;
  font-size: 70%;
width: 27%;
margin-top: -9%;
margin-left: 8px;
}
.vertical-line{
  border-left: 1px solid whitesmoke;
  height: 400px;
  margin-top: 0%;
}
.homepic8{
  width: 40%;
}
.end-head3{
  font-weight: bolder;
}
.col3-line{
  font-weight: bolder;
}
.footer{
  position: absolute;
width: 100%;
height: 70px;
background-color: rgb(31, 31, 31);
text-align: center;
}
.footer-line{
  color: white;
  margin-top: 30px;
  font-size: 15px;
}
#main-Team{
  width: 100%;
  height:53vh;
  background-image: url(../public/images/teampic1.jpg);
  background-size: 100% 100%;
}
.team-heading1{
  font-weight: bolder;
  color: rgb(58, 58, 58);
  margin-top: 8%;
  margin-left: 10%;
}
.line{
  width: 80%;
}
.all-intro{
  display: flex;
  align-items: center;
  justify-content: center;
}
.kevin-wilson-pic-section{
margin-top: 5%;
margin-left: 10%; 
}
.kevin-detail{
margin-left: 30%;
margin-top: -25%;
}
.name1{
  font-weight: bolder; 
  color: rgb(58, 58, 58);
}
.rank1{
  font-style: oblique;
  color: rgb(215, 53, 53);
  
  font-weight: bold;
}
.kevin-detail-lines{
  width: 87%;
}
.last-para-kevin-detail{
  width: 85%;
  margin-left: 9%;
 
}
.contact-heading2{
  margin-top: 10%;
  margin-left: 10%;
  font-weight: bolder;
}
.info-n-pic{
display: flex;
flex-direction: row;
}
.table-info{
  margin-left: 10%;
}
.contact-pic1{
  margin-left: 30%;
}
.endcontact-page{
  background-color: rgb(39, 39, 39);
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 800%;
}
.endcontact-footer{
    position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgb(31, 31, 31);
  text-align: center;
}
.endteamfooter{
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgb(31, 31, 31);
  text-align: center;
}
#main-Service{
  width: 100%;
  height:53vh;
  background-image: url(../public/images/servicepic1.jpg);
  background-size: 100% 100%;
}
.service-details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail1{
  background-color: rgb(215, 53, 53);
  color: white;
  padding: 20px;
  margin-left:9% ;
  width: 60%;
  margin-top: 15%;
}
.servicedetail-lines{
  margin-left:9% ;
  width: 80%;
}
.detail2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
  
  
}
.servicepic2{
  width: 25%;
  margin-left: 2%;
  margin-top: 25%;
}
.servicedetail-lines2{
  margin-left:9% ;
  width: 60%;
  margin-top: -10%;
}
.detail2-heading1{
  color: rgb(58, 58, 58);

}
.service-footer{
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgb(31, 31, 31);
  text-align: center;
}